{
  "presets": [
    "es2016",
    "es2017",
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-es2015-modules-commonjs"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-regenerator",
        "transform-runtime"
      ],
      "presets": [
        "es2015",
      ]
    },
    "development": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
